@model JMWebsite.Models.Event

<link href="~/Content/creative.min.client_details.css" rel="stylesheet">

<div class="login-box animated fadeInUp">
    <div class="box-header">
        <h2>Event</h2>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendeeDinner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeeDinner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlcService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlcService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntipastoBar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntipastoBar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPayDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PosterName)
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/Events/Posters/" + Model.PosterName)" alt="" width="50" height="50" />
        </dd>
        <dt>
            Client Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.client.FullName)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Back to List", "IndexForAdmin")
    </p>
</div>