@model IEnumerable<JMWebsite.Models.Schedule>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/creative.min.client_edit.css" rel="stylesheet">
<br />
<br />
<div class="login-box animated fadeInUp">
    <div class="box-header">
        <h2>Schedules</h2>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                &emsp; &emsp; &emsp;      @Html.DisplayNameFor(model => model._event.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._event.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                </td>
            </tr>
        }

    </table>
</div>